.crossword-board {
    width: 1000px;
    height: 1000px;
    &__cell {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #333;
    }
}